{deps, [
    {ghc_bome_rest,
        {git, "git://github.com/aialferov/ghc_bome_rest", {tag, "master"}}},
    {ghc_bome_db,
        {git, "git://github.com/aialferov/ghc_bome_db", {tag, "master"}}}
]}.

{shell, [{apps, [ghc_bome]}, {config, "priv/ghc_bome.config"}]}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.
{escript_name, "ghc-bome"}.
{escript_incl_extra, [{"priv/*.config", "."}]}.
