{deps, [
    {ghc_bome_rest,
        {git, "git://github.com/aialferov/ghc_bome_rest", {tag, "master"}}},
    {ghc_bome_db,
        {git, "git://github.com/aialferov/ghc_bome_db", {tag, "master"}}}
]}.

{shell, [{apps, ['ghc-bome']}, {config, "priv/ghc-bome.config"}]}.
{escript_incl_extra, [{"priv/*.config", "."}]}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.
